*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}
body {
  background-image: url(/starter-code/assets/background-stars.svg);
  background-color: #070724;
}
body.active {
  overflow-y: hidden;
  height: 100vh;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem;
  color: white;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #979797;
  span {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -1.05px;
  }
  .burger-btn {
    width: 30px;
    height: 40px;
    background-color: transparent;
    outline: 0;
    border: 0;
    .burger-bars,
    .burger-bars:after,
    .burger-bars::before {
      position: relative;
      width: 100%;
      height: 3px;
      background-color: white;
      border-radius: 50px;
    }
    .burger-bars:after,
    .burger-bars::before {
      content: "";
      position: absolute;
      left: 0;
      transition: transform ease-in-out 220ms;
    }
    .burger-bars:after {
      transform: translateY(-6px);
    }
    .burger-bars::before {
      transform: translateY(6px);
    }
    // Animations
    .burger-bars.active {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }
    .burger-bars.active::before {
      transform: rotate(45deg) translate(35px, -35px);
      background-color: white;
    }
    .burger-bars.active::after {
      transform: rotate(-45deg) translate(35px, 35px);
      background-color: white;
    }
  }
}
.nav-mobile {
  display: none;
}
.nav-desktop {
  display: none;
}
.nav-mobile.active {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #070724;

  ul {
    color: white;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-block: 6rem;
    li {
      font-weight: 700;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 1.365px;
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 20px;
        margin-inline: 24px;
        border-bottom: 1px solid #979797;
        text-decoration: none;
        color: #979797;
        font-style: normal;
      }
      a:hover {
        color: white;
      }

      .dot {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
      svg {
        width: 100%;
      }
    }
  }
}
.desktop-overview-section {
  display: none;
}
.mobile-overview-section {
  display: flex;
  padding-inline: 1.5rem;
  justify-content: center;
  border-bottom: 1px solid #979797;

  ul {
    margin: 0;
    display: flex;
    list-style: none;
    color: #979797;
    gap: 4rem;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 2px;

    li {
      padding-block: 1.5rem;
    }
    li:hover {
      color: white;
      border-bottom: 4px solid #419ebb;
    }
  }
}
.planet {
  background-repeat: no-repeat;
  background-position: center;
  width: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
}
.planet-text-wrapper {
  margin-inline: 1.5rem;

  .planet-text {
    .overview,
    .internal-structure,
    .surface-geology {
      color: white;
      text-align: center;
      h1 {
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 1rem;
      }
      p {
        font-size: 12px;
        line-height: 200%;
        margin-bottom: 2rem;
      }
      span {
        color: #979797;
        font-weight: 400;
        font-size: 12px;
        line-height: 25px;
        a {
          color: #979797;
          font-weight: bold;
        }
      }
    }
  }
  .internal-structure,
  .surface-geology {
    display: none;
  }
  .internal-structure.active,
  .surface-geology.active {
    display: block;
  }
}
.stats {
  margin-inline: 1.5rem;
  color: white;
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    text-transform: uppercase;
    padding: 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 8px;
    line-height: 16px;
    letter-spacing: 0.75px;
    color: #979797;
    padding: 1rem 1.5rem;
    border: 1px solid #979797;
    span {
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      text-align: right;
      letter-spacing: -0.75px;
      color: white;
    }
  }
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    color: white;
    justify-content: center;
    align-items: center;
    border-bottom: 0;
    span {
      text-transform: uppercase;
    }
  }
  .mobile-overview-section {
    display: none;
  }
  .nav-desktop {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    border-bottom: 1px solid #979797;

    ul {
      margin: 0;
      display: flex;
      justify-content: center;
      list-style: none;
      color: #979797;
      gap: 2rem;
      padding: 0;
      padding-inline: 51px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 11px;
      line-height: 25px;
      letter-spacing: 1px;

      li {
        padding-block: 1.5rem;
      }
      li:hover {
        color: white;
        border-bottom: 4px solid #419ebb;
      }
    }
  }
  .planet {
    width: 184px;
    margin: 5rem auto;
  }
  .desktop-overview-section {
    display: flex;
    ul {
      padding: 0;
      list-style: none;
      color: white;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-weight: 700;
      font-size: 9px;
      line-height: 25px;
      letter-spacing: 2px;
      li {
        display: flex;
        align-items: center;
        border: 1px solid white;
        height: 50px;
        min-width: 360px;
        padding-inline: 1.5rem;
        gap: 1rem;
        font-weight: bold;
        span {
          color: #979797;
        }
      }
      li:active {
        background-color: #419ebb;
      }
    }
  }
  .planet-text-wrapper {
    margin-inline: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    .planet-text {
      min-width: 350px;
      max-width: 450px;
      .overview,
      .internal-structure,
      .surface-geology {
        color: white;
        text-align: left;
        h1 {
          font-weight: 400;
          font-size: 48px;
          line-height: 62px;
          text-transform: uppercase;
          margin-bottom: 1rem;
        }
        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 25px;

          margin-bottom: 2rem;
        }
        span {
          color: #979797;
          font-weight: 400;
          font-size: 11px;
          line-height: 22px;

          a {
            color: #979797;
            font-weight: bold;
          }
        }
      }
    }
  }

  .stats {
    margin-inline: 1.5rem;
    color: white;

    ul {
      display: grid;
      grid-template-columns: repeat(4, minmax(168px, 1fr));
      grid-template-rows: 88px;
      gap: 0.5rem;
      list-style: none;
      text-transform: uppercase;
      padding: 0;
      font-weight: 700;
      font-size: 8px;
      line-height: 16px;
      letter-spacing: 0.75px;
    }
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;
      font-size: 8px;
      letter-spacing: 0.75px;
      color: #979797;
      padding: 1rem 1.5rem;
      border: 1px solid #979797;
      span {
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: -0.9px;
        color: white;
      }
    }
  }

  @media screen and (min-width: 1100px) {
    .nav-wrapper {
      display: flex;
      flex-direction: row;
      padding: 1rem 3rem;
      color: white;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #979797;
      span {
        text-transform: uppercase;
        width: 200px;
      }
    }
    .nav-desktop {
      display: flex;
      flex-direction: column;
      width: 55%;
      justify-content: center;
      border-bottom: 0;
    }

    .planet {
      width: 290px;
    }
    .container-wrapper {
      display: flex;
      flex-direction: row;
      padding-block: 5rem;
    }
    .planet-text-wrapper {
      margin-inline: 7rem;
      display: flex;
      flex-direction: column;
      .planet-text {
        width: 350px;
        text-align: left;
        .overview,
        .internal-source,
        .surface-geology {
          color: white;
          text-align: left;
          h1 {
            font-weight: 400;
            font-size: 80px;
            line-height: 104px;
            margin-bottom: 1rem;
          }
          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 2rem;
          }
          span {
            font-weight: 400;
            font-size: 14px;
            line-height: 25px;
            color: #979797;
            a {
              color: #979797;
              font-weight: bold;
            }
          }
        }
      }
    }
    .desktop-overview-section {
      display: flex;
      ul {
        padding: 0;
        list-style: none;
        color: white;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-weight: 700;
        font-size: 12px;
        line-height: 25px;
        letter-spacing: 2.6px;
        li {
          display: flex;
          align-items: center;
          border: 1px solid white;
          height: 50px;
          min-width: 360px;
          padding-inline: 1.5rem;
          gap: 1rem;
          font-weight: bold;
          span {
            color: #979797;
          }
        }
        li:active {
          background-color: #419ebb;
        }
      }
    }
    .stats {
      margin-inline: 1.5rem;
      color: white;

      ul {
        display: grid;
        grid-template-columns: repeat(4, minmax(255px, 1fr));
        grid-template-rows: 128px;
        gap: 0.5rem;
        list-style: none;
        text-transform: uppercase;
        padding: 0;
        font-weight: 700;
        font-size: 11px;
        line-height: 25px;
        letter-spacing: 1px;
      }
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        font-size: 8px;
        letter-spacing: 0.75px;
        color: #979797;
        padding: 1rem 1.5rem;
        border: 1px solid #979797;
        span {
          font-weight: 400;
          font-size: 40px;
          line-height: 52px;
          letter-spacing: -1.5px;
          color: white;
        }
      }
    }
  }
}
